* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --main-color: rgb(167, 167, 167);
  --main-background-color: rgba(233, 233, 233, 0.575);
  --hover-shadow-color: rgba(143, 225, 241, 0.527);
}

body {
  font-family: "Jost", sans-serif;
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

body.light-theme {
    background-color: #ffffff;
    color: #000000;
}

body.dark-theme {
    background-color: #121212;
    color: #ffffff;
}

main {

  display: flex;
  height: 100%;
  justify-content: space-around;
}

footer {
  height: 100px;
}

button {
  border-radius: 0%;
  border: solid rgba(0, 0, 0, 0.527) 1px;
  box-shadow: 0 8px 6px rgba(16, 21, 22, 0.295), 0 1px 3px rgba(253, 5, 5, 0);
  transition: box-shadow 0.2s;

}

button:hover {
  transition: all 0.2s;
  background-color: rgb(186, 221, 241);
  box-shadow: 0 7px 14px var(--hover-shadow-color), 0 7px 7px rgba(0, 0, 0, 0.08);
}



.main_calculator {}

.trash_can {
  opacity: 0.75;
}

.trash_can:hover {
  transform: scale(1.1);
  box-shadow: 0 7px 14px var(--hover-shadow-color);
  transition: transform 0.2s;
}


.Calculator {
  border: 1px solid var(--main-color);
  display: flex;
  flex-direction: column;
  background: var(--main-background-color);
}

.calculator_screen {
  position: relative;

  margin: 10px 10px 0 10px;
  border-bottom: 1px solid var(--main-color);
  text-align: start;
}


.Textinput-Control {
  padding: 5px;
  width: 100%;
  line-height: 40px;
  text-align: end;
  font-size: 30px;
}




.btnEquals {
  grid-column: 3/-1;

}

.grand_butt {
  padding: 10px;
  flex: 1;
  display: grid;
  grid-template-columns: repeat(5, clamp(50px, 10vw, 80px));
  grid-template-rows: repeat(5, clamp(38px, 8vw, 65px));
  gap: 2px;
}

.grand_butt button {
  font-size: clamp(1rem, 2.5vw, 1.5rem);

}

.calc_history {
  width: 50vw;
  font-size: clamp(5px, 1.7rem, 65px);

}